config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/Ophidia
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/madgeek-arc/resource-catalogue:
      branch: master
      repo: https://github.com/madgeek-arc/resource-catalogue
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/madgeek-arc/resource-catalogue git:
        commands:
        - /usr/bin/env sh .sqa/script.crabby-sangria-ant.sh
        container: qc.acc_wimpy-dandelion-beetle
  QC.Doc:
    repos:
      github.com/madgeek-arc/resource-catalogue find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.pokey-gold-dolphin.sh
        container: qc.doc_muzzy-myrtle-foxhound
      github.com/madgeek-arc/resource-catalogue git:
        commands:
        - /usr/bin/env sh .sqa/script.boozy-silver-salamander.sh
        container: qc.doc_scummy-puce-turkey
      github.com/madgeek-arc/resource-catalogue markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.wimpy-indigo-newt.sh
        container: qc.doc_whiny-buff-indri
  QC.Lic:
    repos:
      github.com/madgeek-arc/resource-catalogue licensee:
        commands:
        - /usr/bin/env sh .sqa/script.gimpy-amber-kakapo.sh
        container: qc.lic_skanky-apricot-liger
  QC.Sty:
    repos:
      github.com/madgeek-arc/resource-catalogue checkstyle:
        commands:
        - /usr/bin/env sh .sqa/script.wimpy-viridian-ant.sh
        container: qc.sty_snippy-goldenrod-mayfly
      github.com/madgeek-arc/resource-catalogue hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.muggy-cinnamon-bloodhound.sh
        container: qc.sty_queasy-emerald-giraffe
      github.com/madgeek-arc/resource-catalogue jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.goopy-heliotrope-tiger.sh
        container: qc.sty_muzzy-saffron-reindeer
  QC.Ver:
    repos:
      github.com/madgeek-arc/resource-catalogue get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.hazy-yellow-chamois.sh
        container: qc.ver_greasy-azure-husky
timeout: 5400
