config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/Ophidia
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/madgeek-arc/resource-catalogue:
      branch: master
      repo: https://github.com/madgeek-arc/resource-catalogue
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/madgeek-arc/resource-catalogue git:
        commands:
        - /usr/bin/env sh .sqa/script.freaky-viridian-tiger.sh
        container: qc.acc_chewy-carmine-maltese
  QC.Doc:
    repos:
      github.com/madgeek-arc/resource-catalogue find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.squeaky-gold-russel.sh
        container: qc.doc_breezy-teal-jellyfish
      github.com/madgeek-arc/resource-catalogue git:
        commands:
        - /usr/bin/env sh .sqa/script.sickly-olivine-neanderthal.sh
        container: qc.doc_sleepy-lemon-zorse
      github.com/madgeek-arc/resource-catalogue markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.bumpy-ecru-saola.sh
        container: qc.doc_randy-cinnabar-macaque
  QC.Lic:
    repos:
      github.com/madgeek-arc/resource-catalogue licensee:
        commands:
        - /usr/bin/env sh .sqa/script.muggy-heliotrope-uguisu.sh
        container: qc.lic_freaky-periwinkle-mist
  QC.Sty:
    repos:
      github.com/madgeek-arc/resource-catalogue checkstyle:
        commands:
        - /usr/bin/env sh .sqa/script.shaky-amethyst-meerkat.sh
        container: qc.sty_zippy-cerise-hare
      github.com/madgeek-arc/resource-catalogue hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.wiggy-blue-zonkey.sh
        container: qc.sty_smelly-razzmatazz-fox
      github.com/madgeek-arc/resource-catalogue jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.skimpy-tangerine-mongoose.sh
        container: qc.sty_crabby-linen-fox
  QC.Ver:
    repos:
      github.com/madgeek-arc/resource-catalogue get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.thirsty-flax-barnacle.sh
        container: qc.ver_flimsy-seashell-mist
timeout: 5400
