config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/madgeek-arc/resource-catalogue:
      branch: chore/readme
      repo: https://github.com/madgeek-arc/resource-catalogue
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/madgeek-arc/resource-catalogue git:
        commands:
        - /usr/bin/env sh .sqa/script.lumpy-mauve-chicken.sh
        container: qc.acc_pasty-ultramarine-mammoth
  QC.Doc:
    repos:
      github.com/madgeek-arc/resource-catalogue find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.woolly-fuchsia-dalmatian.sh
        container: qc.doc_wimpy-tangerine-havanese
      github.com/madgeek-arc/resource-catalogue git:
        commands:
        - /usr/bin/env sh .sqa/script.homely-carmine-snail.sh
        container: qc.doc_shaggy-pink-warthog
      github.com/madgeek-arc/resource-catalogue markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.stealthy-cerise-avocet.sh
        container: qc.doc_bumpy-brass-cockroach
  QC.Lic:
    repos:
      github.com/madgeek-arc/resource-catalogue licensee:
        commands:
        - /usr/bin/env sh .sqa/script.lovely-beige-forest.sh
        container: qc.lic_skinny-asparagus-terrier
  QC.Sty:
    repos:
      github.com/madgeek-arc/resource-catalogue checkstyle:
        commands:
        - /usr/bin/env sh .sqa/script.freaky-tomato-mist.sh
        container: qc.sty_muggy-sepia-gar
      github.com/madgeek-arc/resource-catalogue hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.flabby-pink-ocelot.sh
        container: qc.sty_queasy-ecru-moose
      github.com/madgeek-arc/resource-catalogue jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.zippy-cardinal-forest.sh
        container: qc.sty_slaphappy-cream-catfish
  QC.Ver:
    repos:
      github.com/madgeek-arc/resource-catalogue get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.lanky-sepia-owl.sh
        container: qc.ver_chewy-ultramarine-rattlesnake
timeout: 5400
