config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/madgeek-arc/resource-catalogue:
      branch: chore/readme
      repo: https://github.com/madgeek-arc/resource-catalogue
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/madgeek-arc/resource-catalogue git:
        commands:
        - /usr/bin/env sh .sqa/script.lanky-black-warthog.sh
        container: qc.acc_nippy-ivory-kudu
  QC.Doc:
    repos:
      github.com/madgeek-arc/resource-catalogue find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.cranky-aquamarine-markhor.sh
        container: qc.doc_wheezy-zucchini-angelfish
      github.com/madgeek-arc/resource-catalogue git:
        commands:
        - /usr/bin/env sh .sqa/script.flimsy-beige-wombat.sh
        container: qc.doc_snoopy-zucchini-indri
      github.com/madgeek-arc/resource-catalogue markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.ready-orchid-saola.sh
        container: qc.doc_snoopy-cinnabar-jaguar
  QC.Lic:
    repos:
      github.com/madgeek-arc/resource-catalogue licensee:
        commands:
        - /usr/bin/env sh .sqa/script.seedy-plum-heron.sh
        container: qc.lic_randy-violet-moose
  QC.Sty:
    repos:
      github.com/madgeek-arc/resource-catalogue checkstyle:
        commands:
        - /usr/bin/env sh .sqa/script.shaggy-platinum-capybara.sh
        container: qc.sty_trippy-charcoal-pinscher
      github.com/madgeek-arc/resource-catalogue hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.frumpy-teal-hamster.sh
        container: qc.sty_scaly-corn-squirrel
      github.com/madgeek-arc/resource-catalogue jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.goopy-sangria-boar.sh
        container: qc.sty_wiggy-bronze-capybara
  QC.Ver:
    repos:
      github.com/madgeek-arc/resource-catalogue get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.shaggy-orchid-discus.sh
        container: qc.ver_stealthy-eggplant-jaguar
timeout: 5400
