config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/madgeek-arc/resource-catalogue:
      branch: master
      repo: https://github.com/madgeek-arc/resource-catalogue
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/madgeek-arc/resource-catalogue git:
        commands:
        - /usr/bin/env sh .sqa/script.wheezy-ruby-okapi.sh
        container: qc.acc_snippy-lilac-bordeaux
  QC.Doc:
    repos:
      github.com/madgeek-arc/resource-catalogue find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.hilly-violet-dhole.sh
        container: qc.doc_ready-goldenrod-birman
      github.com/madgeek-arc/resource-catalogue git:
        commands:
        - /usr/bin/env sh .sqa/script.sloppy-vermilion-fly.sh
        container: qc.doc_lanky-zucchini-starfish
      github.com/madgeek-arc/resource-catalogue markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.frumpy-chartreuse-mouse.sh
        container: qc.doc_paltry-myrtle-bandicoot
  QC.Lic:
    repos:
      github.com/madgeek-arc/resource-catalogue licensee:
        commands:
        - /usr/bin/env sh .sqa/script.crabby-chestnut-meerkat.sh
        container: qc.lic_chewy-azure-vulture
  QC.Sty:
    repos:
      github.com/madgeek-arc/resource-catalogue checkstyle:
        commands:
        - /usr/bin/env sh .sqa/script.whiny-linen-antelope.sh
        container: qc.sty_sickly-dandelion-impala
      github.com/madgeek-arc/resource-catalogue hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.zippy-violet-jackal.sh
        container: qc.sty_sleazy-pumpkin-tapir
      github.com/madgeek-arc/resource-catalogue jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.freaky-red-mastiff.sh
        container: qc.sty_ready-champagne-gopher
  QC.Ver:
    repos:
      github.com/madgeek-arc/resource-catalogue get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.snippy-persimmon-malamute.sh
        container: qc.ver_geeky-salmon-civet
timeout: 5400
