config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/madgeek-arc/resource-catalogue:
      branch: chore/readme
      repo: https://github.com/madgeek-arc/resource-catalogue
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/madgeek-arc/resource-catalogue git:
        commands:
        - /usr/bin/env sh .sqa/script.lumpy-emerald-lynx.sh
        container: qc.acc_snazzy-taupe-vulture
  QC.Doc:
    repos:
      github.com/madgeek-arc/resource-catalogue find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.seedy-cornflower-okapi.sh
        container: qc.doc_stealthy-denim-chin
      github.com/madgeek-arc/resource-catalogue git:
        commands:
        - /usr/bin/env sh .sqa/script.scummy-sepia-falcon.sh
        container: qc.doc_trippy-amaranth-tapir
      github.com/madgeek-arc/resource-catalogue markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.messy-brass-squirrel.sh
        container: qc.doc_droopy-chocolate-anteater
  QC.Lic:
    repos:
      github.com/madgeek-arc/resource-catalogue licensee:
        commands:
        - /usr/bin/env sh .sqa/script.grumpy-brass-wombat.sh
        container: qc.lic_beady-saffron-newt
  QC.Sty:
    repos:
      github.com/madgeek-arc/resource-catalogue checkstyle:
        commands:
        - /usr/bin/env sh .sqa/script.foggy-cardinal-woodlouse.sh
        container: qc.sty_scanty-gold-fly
      github.com/madgeek-arc/resource-catalogue hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.whiny-cobalt-whale.sh
        container: qc.sty_cozy-crimson-beagle
      github.com/madgeek-arc/resource-catalogue jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.surly-smalt-pig.sh
        container: qc.sty_geeky-pear-peccary
  QC.Ver:
    repos:
      github.com/madgeek-arc/resource-catalogue get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.crabby-russet-magpie.sh
        container: qc.ver_sloppy-indigo-zebu
timeout: 5400
