config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/Ophidia
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/madgeek-arc/resource-catalogue:
      branch: master
      repo: https://github.com/madgeek-arc/resource-catalogue
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/madgeek-arc/resource-catalogue git:
        commands:
        - /usr/bin/env sh .sqa/script.nerdy-amaranth-dogfish.sh
        container: qc.acc_stuffy-pink-quoll
  QC.Doc:
    repos:
      github.com/madgeek-arc/resource-catalogue find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.blurry-sapphire-anteater.sh
        container: qc.doc_trippy-cyan-beaver
      github.com/madgeek-arc/resource-catalogue git:
        commands:
        - /usr/bin/env sh .sqa/script.lanky-zucchini-dane.sh
        container: qc.doc_seedy-denim-donkey
      github.com/madgeek-arc/resource-catalogue markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.foggy-celadon-dolphin.sh
        container: qc.doc_tasty-white-binturong
  QC.Lic:
    repos:
      github.com/madgeek-arc/resource-catalogue licensee:
        commands:
        - /usr/bin/env sh .sqa/script.thirsty-indigo-olm.sh
        container: qc.lic_skimpy-firebrick-devil
  QC.Sty:
    repos:
      github.com/madgeek-arc/resource-catalogue checkstyle:
        commands:
        - /usr/bin/env sh .sqa/script.scanty-firebrick-urchin.sh
        container: qc.sty_muggy-buff-capybara
      github.com/madgeek-arc/resource-catalogue hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.dorky-orange-labradoodle.sh
        container: qc.sty_whiny-white-budgerigar
      github.com/madgeek-arc/resource-catalogue jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.stuffy-asparagus-booby.sh
        container: qc.sty_muzzy-cornflower-hamster
  QC.Ver:
    repos:
      github.com/madgeek-arc/resource-catalogue get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.smelly-turquoise-wombat.sh
        container: qc.ver_gamy-yellow-bongo
timeout: 5400
