config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/madgeek-arc/resource-catalogue:
      branch: master
      repo: http://github.com/madgeek-arc/resource-catalogue
    github.com/madgeek-arc/resource-catalogue-docs:
      branch: master
      repo: http://github.com/madgeek-arc/resource-catalogue-docs
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/madgeek-arc/resource-catalogue git:
        commands:
        - /usr/bin/env sh .sqa/script.silly-magnolia-macaw.sh
        container: qc.acc_droopy-razzmatazz-quail
  QC.Doc:
    repos:
      github.com/madgeek-arc/resource-catalogue-docs find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.geeky-cerise-skunk.sh
        container: qc.doc_homey-white-sheep
      github.com/madgeek-arc/resource-catalogue-docs git:
        commands:
        - /usr/bin/env sh .sqa/script.gummy-blue-discus.sh
        container: qc.doc_wheezy-purple-dachshund
      github.com/madgeek-arc/resource-catalogue-docs markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.smelly-eggplant-monster.sh
        container: qc.doc_shaky-purple-fowl
  QC.Lic:
    repos:
      github.com/madgeek-arc/resource-catalogue licensee:
        commands:
        - /usr/bin/env sh .sqa/script.skinny-thistle-dachshund.sh
        container: qc.lic_breezy-harlequin-lion
  QC.Sty:
    repos:
      github.com/madgeek-arc/resource-catalogue checkstyle:
        commands:
        - /usr/bin/env sh .sqa/script.snoopy-ecru-drever.sh
        container: qc.sty_nippy-cyan-centipede
      github.com/madgeek-arc/resource-catalogue hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.seedy-carmine-manatee.sh
        container: qc.sty_silly-amaranth-rhinoceros
      github.com/madgeek-arc/resource-catalogue jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.shaggy-xanthic-collie.sh
        container: qc.sty_cheeky-jade-bordeaux
  QC.Ver:
    repos:
      github.com/madgeek-arc/resource-catalogue get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.muggy-goldenrod-loon.sh
        container: qc.ver_messy-coral-quail
timeout: 5400
