config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/madgeek-arc/resource-catalogue:
      branch: master
      repo: https://github.com/madgeek-arc/resource-catalogue
    github.com/madgeek-arc/resource-catalogue-docs:
      branch: master
      repo: https://github.com/madgeek-arc/resource-catalogue-docs
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/madgeek-arc/resource-catalogue git:
        commands:
        - /usr/bin/env sh .sqa/script.homely-cardinal-frise.sh
        container: qc.acc_dorky-cornflower-eagle
  QC.Doc:
    repos:
      github.com/madgeek-arc/resource-catalogue-docs find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.snazzy-razzmatazz-jackal.sh
        container: qc.doc_gloppy-corn-dragonfly
      github.com/madgeek-arc/resource-catalogue-docs git:
        commands:
        - /usr/bin/env sh .sqa/script.wheezy-ochre-avocet.sh
        container: qc.doc_lousy-heliotrope-heron
      github.com/madgeek-arc/resource-catalogue-docs markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.thirsty-peach-bee.sh
        container: qc.doc_gamy-tomato-wolverine
  QC.Lic:
    repos:
      github.com/madgeek-arc/resource-catalogue licensee:
        commands:
        - /usr/bin/env sh .sqa/script.greasy-blue-bird.sh
        container: qc.lic_lanky-brass-abyssinian
  QC.Sty:
    repos:
      github.com/madgeek-arc/resource-catalogue checkstyle:
        commands:
        - /usr/bin/env sh .sqa/script.fuzzy-persimmon-chinook.sh
        container: qc.sty_baggy-russet-tapir
      github.com/madgeek-arc/resource-catalogue hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.trippy-wheat-chicken.sh
        container: qc.sty_seedy-viridian-lionfish
      github.com/madgeek-arc/resource-catalogue jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.bumpy-mustard-argentino.sh
        container: qc.sty_dorky-fuchsia-catfish
  QC.Ver:
    repos:
      github.com/madgeek-arc/resource-catalogue get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.breezy-taupe-tarsier.sh
        container: qc.ver_homely-peach-wombat
timeout: 5400
