config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/Ophidia
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/madgeek-arc/resource-catalogue:
      branch: master
      repo: https://github.com/madgeek-arc/resource-catalogue
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/madgeek-arc/resource-catalogue git:
        commands:
        - /usr/bin/env sh .sqa/script.paltry-amber-macaw.sh
        container: qc.acc_goopy-charcoal-zorse
  QC.Doc:
    repos:
      github.com/madgeek-arc/resource-catalogue find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.bluesy-tangerine-foxhound.sh
        container: qc.doc_beady-wisteria-wildebeest
      github.com/madgeek-arc/resource-catalogue git:
        commands:
        - /usr/bin/env sh .sqa/script.flimsy-russet-indri.sh
        container: qc.doc_flimsy-khaki-caterpillar
      github.com/madgeek-arc/resource-catalogue markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.scaly-firebrick-dachshund.sh
        container: qc.doc_stealthy-tangerine-crane
  QC.Lic:
    repos:
      github.com/madgeek-arc/resource-catalogue licensee:
        commands:
        - /usr/bin/env sh .sqa/script.scummy-coral-tzu.sh
        container: qc.lic_nippy-lavender-octopus
  QC.Sty:
    repos:
      github.com/madgeek-arc/resource-catalogue checkstyle:
        commands:
        - /usr/bin/env sh .sqa/script.sleazy-taupe-cheetah.sh
        container: qc.sty_silly-blue-clam
      github.com/madgeek-arc/resource-catalogue hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.smelly-saffron-earwig.sh
        container: qc.sty_snoopy-eggplant-wildebeest
      github.com/madgeek-arc/resource-catalogue jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.lumpy-olivine-opossum.sh
        container: qc.sty_hasty-ochre-wasp
  QC.Ver:
    repos:
      github.com/madgeek-arc/resource-catalogue get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.breezy-teal-serval.sh
        container: qc.ver_flimsy-platinum-tang
timeout: 5400
