config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/madgeek-arc/resource-catalogue:
      branch: master
      repo: https://github.com/madgeek-arc/resource-catalogue
    github.com/madgeek-arc/resource-catalogue-docs:
      branch: master
      repo: https://github.com/madgeek-arc/resource-catalogue-docs
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/madgeek-arc/resource-catalogue git:
        commands:
        - /usr/bin/env sh .sqa/script.flabby-myrtle-cattle.sh
        container: qc.acc_wheezy-bronze-hyrax
  QC.Doc:
    repos:
      github.com/madgeek-arc/resource-catalogue-docs find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.chummy-wheat-saola.sh
        container: qc.doc_gamy-teal-beagle
      github.com/madgeek-arc/resource-catalogue-docs git:
        commands:
        - /usr/bin/env sh .sqa/script.sleepy-crimson-penguin.sh
        container: qc.doc_nippy-tan-jaguar
      github.com/madgeek-arc/resource-catalogue-docs markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.shaky-lime-paradise.sh
        container: qc.doc_bluesy-charcoal-bracke
  QC.Lic:
    repos:
      github.com/madgeek-arc/resource-catalogue licensee:
        commands:
        - /usr/bin/env sh .sqa/script.baggy-eggplant-greyhound.sh
        container: qc.lic_flabby-chocolate-camel
  QC.Sty:
    repos:
      github.com/madgeek-arc/resource-catalogue checkstyle:
        commands:
        - /usr/bin/env sh .sqa/script.frumpy-bronze-foxhound.sh
        container: qc.sty_snoopy-aquamarine-dingo
      github.com/madgeek-arc/resource-catalogue hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.cranky-pumpkin-dachsbracke.sh
        container: qc.sty_hazy-olivine-shark
      github.com/madgeek-arc/resource-catalogue jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.lumpy-cyan-ocelot.sh
        container: qc.sty_flimsy-brown-akbash
  QC.Ver:
    repos:
      github.com/madgeek-arc/resource-catalogue get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.baggy-razzmatazz-barracuda.sh
        container: qc.ver_frumpy-emerald-terrier
timeout: 5400
