config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/Ophidia
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/madgeek-arc/resource-catalogue:
      branch: master
      repo: https://github.com/madgeek-arc/resource-catalogue
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/madgeek-arc/resource-catalogue git:
        commands:
        - /usr/bin/env sh .sqa/script.grumpy-platinum-eleuth.sh
        container: qc.acc_sickly-amaranth-tapir
  QC.Doc:
    repos:
      github.com/madgeek-arc/resource-catalogue find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.squirrely-smalt-dodo.sh
        container: qc.doc_fuzzy-vermilion-fox
      github.com/madgeek-arc/resource-catalogue git:
        commands:
        - /usr/bin/env sh .sqa/script.smelly-chartreuse-bullfrog.sh
        container: qc.doc_ugly-russet-seal
      github.com/madgeek-arc/resource-catalogue markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.lanky-cyan-robin.sh
        container: qc.doc_muzzy-chartreuse-bonobo
  QC.Lic:
    repos:
      github.com/madgeek-arc/resource-catalogue licensee:
        commands:
        - /usr/bin/env sh .sqa/script.skanky-teal-hedgehog.sh
        container: qc.lic_shaggy-black-hornet
  QC.Sty:
    repos:
      github.com/madgeek-arc/resource-catalogue checkstyle:
        commands:
        - /usr/bin/env sh .sqa/script.gummy-bronze-akbash.sh
        container: qc.sty_sickly-cobalt-duck
      github.com/madgeek-arc/resource-catalogue hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.gimpy-ivory-panda.sh
        container: qc.sty_surly-cobalt-paradise
      github.com/madgeek-arc/resource-catalogue jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.bluesy-orange-cow.sh
        container: qc.sty_scaly-ochre-lemming
  QC.Ver:
    repos:
      github.com/madgeek-arc/resource-catalogue get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.hazy-orange-beetle.sh
        container: qc.ver_messy-crimson-drever
timeout: 5400
